<div class="article-comment">
  <div class="card">
    <div class="card-block">
      <p class="card-text"> second comment </p>
    </div>
    <div class="card-footer"><a class="comment-author" href="/profile/alexneo68"><img class="comment-author-img"
          src="https://api.realworld.io/images/smiley-cyrus.jpeg"></a> &nbsp; <a class="comment-author"
        href="/profile/alexneo68"> alexneo68 </a><span class="date-posted"> February 13, 2023 </span><span
        class="mod-options"><i class="iosn-trash-a"></i></span></div>
  </div>
</div>