<mc-error-message *ngIf="error$ | async"></mc-error-message>
<mc-loading *ngIf="isLoading$ | async"></mc-loading>
<div *ngIf="(feed$ | async)?.articles">
  <div class="article-preview" *ngFor="let article of (feed$ | async)?.articles">
    <div class="app-article-meta">
      <div class="article-meta">
        <a [routerLink]="['/profiles', article.author.username]">
          <img [src]="article.author.image" /></a>
        <div class="info">
          <a class="author" [routerLink]="['/profiles', article.author.username]">
            {{ article.author.username }}</a>

          <span class="date"> {{ article.updatedAt }} </span>
        </div>
        <mc-add-to-favorites [favoritesCount]="article.favoritesCount" [isFavorited]="article.favorited"
          [articleSlug]="article.slug"></mc-add-to-favorites>
      </div>
    </div>

    <a class="preview-link" [routerLink]="['/articles', article.slug]">
      <h1>{{ article.title }}</h1>
      <p>{{ article.description }}</p>
      <span>Read more...</span>
      <mc-tags-list [tags]="article.tagList"></mc-tags-list>
    </a>
  </div>

  <mc-pagination [baseUrl]="baseUrl" [currentPage]="currentPage" [limit]="limit"
    [total]="(feed$ | async)?.articlesCount">
  </mc-pagination>
</div>