<mc-backend-error-messages *ngIf="errors$|async" [backendErrors]="errors$|async"></mc-backend-error-messages>
<form class="card comment-form" [formGroup]="form" (ngSubmit)="onSubmit()">

  <fieldset>
    <div class="card-block"><textarea class="form-control" formControlName="body" placeholder="Write a comment..."
        rows="3"></textarea></div>
    <div class="card-footer"><img class="comment-author-img" src="https://api.realworld.io/images/smiley-cyrus.jpeg">
      <button [disabled]="isSubmitting$|async" class="btn btn-sm btn-primary" type="submit">
        Post Comment </button>
    </div>
  </fieldset>
</form>
